.App {
  text-align: center;
  overflow-y: scroll;
  font-family: Futura, sans-serif;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
Banner
*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/

@keyframes carousel {
    0%   { transform: translate(0); }
	40%	 { transform: translate(0); }
	50%	 { transform: translate(-100vw); }
	90%	 { transform: translate(-100vw); }
    100% { transform: translate(-200vw); }
}

.banner {
	background-color: rgb(247, 130, 35);
	height: 40px;
	width: 100vw;
    display: flex;
    flex-wrap: nowrap;
	overflow: hidden;
}

.banner_item {
	/* duration | easing-function | delay | iteration | fille-mode | name */
	animation: 15s linear 0s infinite carousel;
	display: flex;           /* Center content */
	align-items: center;     /* Center content */
	justify-content: center; /* Center content */
	flex-shrink: 0;
	height: inherit;
	width: inherit;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
Header
*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/

.header {
  background-color: white;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  box-shadow: 0 0.5px;
}

.logo {
	width: 165px;
}

.nav-link {
	color: #5c5c5c;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
Content
*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/

.text-block {
	color: #524b4b;
	font-family: "Century Gothic", sans-serif;
	font-size: 24px;
	font-weight: lighter;
	font-style: normal;
	text-align: start;
	padding: 50px 10%;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
Home 
*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/

@keyframes shrinkAndFadeIn {
	0% {
		transform: matrix(1.1, 0, 0, 1.1, 0, 0);
		opacity: 0;
	}
	100% {
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity: 0.3;
	}
}

@keyframes riseAndFadeIn {
	0% {
		transform: translate(0, 10px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

.home-subheader {
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative; /* Needed for positioning absolute content (why?) */
	text-align: center;
}

.home-subheader_image {
	/* duration | easing-function | delay | iteration | fille-mode | name */
	animation: 1s ease-out 0s 1 forwards shrinkAndFadeIn;
	max-width: 100%;
	/* height: auto; */
	display: block;
}

.home-subheader_content {
	animation: 1s ease-out 0.8s 1 both riseAndFadeIn;
	color: white;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: fit-content;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
Other 
*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/

.card {
	border: 1px solid gray;
	width: 100%;
	height: 100%;
	text-align: left;
	background: url("Food.jpg") rgba(255, 255, 255, 0.8);
	background-size: cover;
	background-blend-mode: soft-light;
}

.card:hover {
	transform: scale(1.01);
	box-shadow: 2px 2px 5px black;
}

.card_content {
	margin: 5% 10%;
	font-size: 20px;
}

.card_content > p {
	line-height: 1.2;   /* line height within paragraph */
  	margin-bottom: 1.5; /* line height between paragraphs */
}

.order-now-content {
  	justify-items: center; 
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(3, 1fr);
	/* background-color: gray; */
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	overflow: hidden;
}
